@keyframes show-block {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-and-translate {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

